.sc_icons {
position: relative;
padding-top: 0.0001px;
}
.sc_icons_columns_wrap {
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.sc_icons_slider .sc_icons_item,
.sc_icons_columns_wrap .sc_icons_item {
display: inline-block;
vertical-align: top;
width: 100%;
height: 100%;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
.sc_icons_slider .sc_icons_item {
margin-bottom: 0 !important;
}
.sc_icons .sc_icons_item {
position: relative;
}
.sc_icons.sc_align_left .sc_icons_item {
text-align: left;
}
.sc_icons.sc_align_center .sc_icons_item {
text-align: center;
}
.sc_icons.sc_align_right .sc_icons_item {
text-align: right;
}
.sc_icons .sc_icons_item > * {
margin: 0;
}
.sc_icons .sc_icons_icon {
color: #efa758;
position: relative;
z-index: 2;
display: inline-block;
width: auto;
}
.sc_icons_icon.sc_icons_char:before,
.sc_icons_icon.sc_icons_char > span:before {
content: attr(data-char);
font-weight: 700;
}
.sc_icon_type_svg.sc_icon_animation {
visibility: hidden;
}
.sc_icon_type_svg svg {
stroke: currentColor;
fill: currentColor;
-webkit-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.sc_icon_type_svg.sc_icon_animation svg {
fill: none !important;
}
.sc_icons .sc_icons_icon:before,
.sc_icons .sc_icons_icon > span:before {
font-size: 6em;
line-height: 1.1em !important;
}
.sc_icon_type_svg svg,
.sc_icon_type_svg object {
width: 6em;
height: 6em;
display: inline-block;
overflow: visible;
margin-bottom: -0.1em;
}
.sc_icons .sc_icons_image img {
max-width: 75%;
}
.sc_icons_size_small .sc_icons_icon:before,
.sc_icons_size_small .sc_icons_icon > span:before {
font-size: 4em;
line-height: 1.1em !important;
}
.sc_icons_size_small .sc_icon_type_svg svg,
.sc_icons_size_small .sc_icon_type_svg object {
width: 4em;
height: 4em;
}
.sc_icons_size_large .sc_icons_icon:before,
.sc_icons_size_large .sc_icons_icon > span:before {
font-size: 8em;
line-height: 1.1em !important;
}
.sc_icons_size_large .sc_icon_type_svg svg,
.sc_icons_size_large .sc_icon_type_svg object {
width: 8em;
height: 8em;
}
.sc_icons .sc_icons_icon > span {
display: inline-block;
opacity: 0;
position: absolute;
z-index: 1;
top: 0;
left: 0;
width: auto;
}
.sc_icons .sc_icons_icon,
.sc_icons .sc_icons_item_title {
-webkit-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.sc_icons .sc_icons_item_title span,
.sc_icons .sc_icons_item_description span {
display: block;
}
.sc_icons_item_title {
font-size: 1.25em;
line-height: 1.3em;
font-weight: 400;
font-style: normal;
text-transform: uppercase;
letter-spacing: 1px;
margin: 0;
}
.sc_icons_item_description {
font-size: 1em;
line-height: 1.6em;
}
.sc_icons_item_title + .sc_icons_item_description {
margin-top: 0.5em;
}
.sc_icons .sc_icons_item_link {
display: block;
position: absolute;
z-index: 10;
top: 0;
left: 0;
width: 100%;
height: 100%;
} .sc_icons_default .sc_icons_icon + .sc_icons_item_details,
.sc_icons_default .sc_icons_image + .sc_icons_item_details {
margin-top: 1em;
} .sc_icons_modern {
position: relative;
}
.sc_icons_modern .sc_icons_icon,
.sc_icons_modern .sc_icons_image {
position: absolute;
z-index: 1;
top: 0;
left: 0;
}
.sc_icons_modern .sc_icons_image {
max-width: 6em;
overflow: hidden;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
}
.sc_icons_modern .sc_icons_image img {
max-width: none;
height: 6em;
}
.sc_icons_modern.sc_icons_size_small .sc_icons_image {
max-width: 4em;
}
.sc_icons_modern.sc_icons_size_small .sc_icons_image img {
height: 4em;
}
.sc_icons_modern.sc_icons_size_large .sc_icons_image {
max-width: 8em;
}
.sc_icons_modern.sc_icons_size_large .sc_icons_image img {
height: 8em;
}
.sc_icons_modern.sc_align_right .sc_icons_icon,
.sc_icons_modern.sc_align_right .sc_icons_image {
left: auto;
right: 0;
}
.sc_icons_modern .sc_icons_item_details {
min-height: 6em;
padding-left: 8em;
}
.sc_icons_modern.sc_align_right .sc_icons_item_details {
padding-left: 0;
padding-right: 8em;
}
.sc_icons_modern.sc_icons_size_small .sc_icons_item_details {
min-height: 4em;
padding-left: 6em;
}
.sc_icons_modern.sc_icons_size_small.sc_align_right .sc_icons_item_details {
padding-left: 0;
padding-right: 6em;
}
.sc_icons_modern.sc_icons_size_large .sc_icons_item_details {
min-height: 8em;
padding-left: 10em;
}
.sc_icons_modern.sc_icons_size_large.sc_align_right .sc_icons_item_details {
padding-left: 0;
padding-right: 10em;
} .sc_icons .sc_icons_item_linked:hover .sc_icons_icon > span {
-webkit-animation: icons-zoom 0.25s ease-out;
-ms-animation: icons-zoom 0.25s ease-out;
animation: icons-zoom 0.25s ease-out;
}
.sc_icons .sc_icons_item_linked:hover .sc_icons_icon > svg {
-webkit-transform: scale(1.1, 1.1);
-ms-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
}
.sc_icons .sc_icons_item_linked .sc_icons_icon + .sc_icons_item_title,
.sc_icons .sc_icons_item_linked .sc_icons_image + .sc_icons_item_title,
.sc_icons .sc_icons_item_linked .sc_icons_icon + .sc_icons_item_description,
.sc_icons .sc_icons_item_linked .sc_icons_icon + .sc_icons_item_title + .sc_icons_item_description,
.sc_icons .sc_icons_item_linked .sc_icons_image + .sc_icons_item_description,
.sc_icons .sc_icons_item_linked .sc_icons_image + .sc_icons_item_title + .sc_icons_item_description,
.sc_icons .sc_icons_item_linked .sc_icons_image img {
-webkit-transition: all 0.25s ease;
-ms-transition: all 0.25s ease;
transition: all 0.25s ease;
}
.sc_icons .sc_icons_item_linked .sc_icons_icon + .sc_icons_item_title,
.sc_icons .sc_icons_item_linked .sc_icons_image + .sc_icons_item_title {
-webkit-transform-origin: center bottom;
-ms-transform-origin: center bottom;
transform-origin: center bottom;
}
.sc_icons .sc_icons_item_linked .sc_icons_icon + .sc_icons_item_description,
.sc_icons .sc_icons_item_linked .sc_icons_icon + .sc_icons_item_title + .sc_icons_item_description,
.sc_icons .sc_icons_item_linked .sc_icons_image + .sc_icons_item_description,
.sc_icons .sc_icons_item_linked .sc_icons_image + .sc_icons_item_title + .sc_icons_item_description {
-webkit-transform-origin: center top;
-ms-transform-origin: center top;
transform-origin: center top;
}
.sc_icons .sc_icons_item_linked:hover .sc_icons_image img {
-webkit-transform: scale(1.1, 1.1);
-ms-transform: scale(1.1, 1.1);
transform: scale(1.1, 1.1);
}
.sc_icons .sc_icons_item_linked:hover .sc_icons_icon + .sc_icons_item_title,
.sc_icons .sc_icons_item_linked:hover .sc_icons_image + .sc_icons_item_title,
.sc_icons .sc_icons_item_linked:hover .sc_icons_icon + .sc_icons_item_description,
.sc_icons .sc_icons_item_linked:hover .sc_icons_icon + .sc_icons_item_title + .sc_icons_item_description,
.sc_icons .sc_icons_item_linked:hover .sc_icons_image + .sc_icons_item_description,
.sc_icons .sc_icons_item_linked:hover .sc_icons_image + .sc_icons_item_title + .sc_icons_item_description {
-webkit-transform: scale(0.9, 0.9);
-ms-transform: scale(0.9, 0.9);
transform: scale(0.9, 0.9);
}
@-webkit-keyframes icons-zoom {
0% {
opacity: 1;
}
100% {
opacity: 0;
-webkit-transform: scale(1.75, 1.75);
-ms-transform: scale(1.75, 1.75);
transform: scale(1.75, 1.75);
}
}
@keyframes icons-zoom {
0% {
opacity: 1;
}
100% {
opacity: 0;
-webkit-transform: scale(1.75, 1.75);
-ms-transform: scale(1.75, 1.75);
transform: scale(1.75, 1.75);
}
}.sc_icons_qw-stylish .trx_addons_columns_wrap {
position: relative;
overflow: hidden;
margin-left: 0;
margin-right: 0;
border: 1px solid var(--theme-color-bd_color);
}
.sc_icons_qw-stylish .trx_addons_columns_wrap > [class*="trx_addons_column-"] {
padding: 0 !important;
position: relative;
}
.sc_icons_qw-stylish .trx_addons_columns_wrap > [class*="trx_addons_column-"]:before {
content: '';
display: block;
position: absolute;
z-index: 1;
top: -1px;
right: 0;
bottom: 0;
left: -1px;
border-top: 1px solid;
border-left: 1px solid;
border-color: var(--theme-color-bd_color);
}
.sc_icons_qw-stylish > .sc_icons_item {
border: 1px solid var(--theme-color-bd_color);
}
.sc_icons_qw-stylish .sc_icons_item {
position: relative;
z-index: 1;
padding: 6.2em 3em 5em;
background-color: var(--theme-color-bg_color);
-webkit-transition: background-color 0.3s ease;
-ms-transition: background-color 0.3s ease;
transition: background-color 0.3s ease;
will-change: background-color;
}
.sc_icons_qw-stylish .sc_icons_item.sc_icons_item_linked.with_more .sc_icons_item_link {
z-index: 10 !important;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_shine {
border-radius: inherit;
position: absolute;
z-index: 1;
inset: 0;
overflow: hidden;
opacity: 0;
transition: opacity 0.5s;
transition-duration: 0.5s;
transition-delay: 0s;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_shine:before {
content: '';
width: 150%;
padding-bottom: 150%;
border-radius: 0;
position: absolute;
left: 50%;
bottom: 55%;
filter: blur(35px);
opacity: .1;
transform: translateX(-50%);
background-image: conic-gradient(from 205deg at 50% 50%, rgba(0, 0, 0, 0) 0deg, var(--theme-color-text_link) 25deg, var(--theme-color-text_link_02) 295deg, rgba(0, 0, 0, 0) 360deg);
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background {
border-radius: inherit;
position: absolute;
inset: 0;
overflow: hidden;
-webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles {
opacity: 0;
transition: opacity .25s;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile {
position: absolute;
background-color: var(--theme-color-text_link_007);
animation-duration: 8s;
animation-iteration-count: infinite;
opacity: 0;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-4, .sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-6, .sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-10 {
animation-delay: -2s;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-3, .sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-5, .sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-8 {
animation-delay: -4s;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-2, .sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-9 {
animation-delay: -6s;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-1 {
top: 0;
left: 0;
height: 10%;
width: 22.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-2 {
top: 0;
left: 22.5%;
height: 10%;
width: 27.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-3 {
top: 0;
left: 50%;
height: 10%;
width: 27.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-4 {
top: 0;
left: 77.5%;
height: 10%;
width: 22.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-5 {
top: 10%;
left: 0;
height: 22.5%;
width: 22.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-6 {
top: 10%;
left: 22.5%;
height: 22.5%;
width: 27.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-7 {
top: 10%;
left: 50%;
height: 22.5%;
width: 27.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-8 {
top: 10%;
left: 77.5%;
height: 22.5%;
width: 22.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-9 {
top: 32.5%;
left: 50%;
height: 22.5%;
width: 27.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile.sc_icons_item_tile-10 {
top: 32.5%;
left: 77.5%;
height: 22.5%;
width: 22.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line {
position: absolute;
inset: 0;
opacity: 0;
transition: opacity .35s;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line:before, .sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line:after {
content: '';
position: absolute;
background-color: var(--theme-color-text_dark_008);
transition: transform .35s;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line:before {
left: 0;
right: 0;
height: 1px;
transform-origin: 0 50%;
transform: scaleX(0);
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line:after {
top: 0;
bottom: 0;
width: 1px;
transform-origin: 50% 0;
transform: scaleY(0);
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-1:before {
top: 10%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-1:after {
left: 22.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-1:before, .sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-1:after {
transition-delay: .3s;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-2:before {
top: 32.5%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-2:after {
left: 50%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-2:before, .sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-2:after {
transition-delay: .15s;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-3:before {
top: 55%;
}
.sc_icons_qw-stylish .sc_icons_item .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-3:after {
right: 22.5%;
}
.sc_icons_qw-stylish .sc_icons_item:hover {
background-color: var(--theme-color-alter_bg_color);
}
.sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_shine {
opacity: 1;
transition-duration: 0.5s;
transition-delay: 0s;
}
.sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_background .sc_icons_item_tiles {
opacity: 1;
transition-delay: .25s;
}
.sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile {
animation-name: tile;
}
.sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_background .sc_icons_item_line {
opacity: 1;
transition-duration: .15s;
}
.sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_background .sc_icons_item_line:before {
transform: scaleX(1);
}
.sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_background .sc_icons_item_line:after {
transform: scaleY(1);
}
.sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-1:before, .sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-1:after {
transition-delay: .0s;
}
.sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-2:before, .sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-2:after {
transition-delay: .15s;
}
.sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-3:before, .sc_icons_qw-stylish .sc_icons_item:hover .sc_icons_item_background .sc_icons_item_line.sc_icons_item_line-3:after {
transition-delay: .3s;
}
.sc_icons_qw-stylish.sc_icons .sc_icons_icon + .sc_icons_item_details,
.sc_icons_qw-stylish.sc_icons .sc_icons_image + .sc_icons_item_details {
margin-top: 2.8em;
}
.sc_icons_qw-stylish.sc_icons .sc_icons_item .sc_icons_item_title + .sc_icons_item_more_link,
.sc_icons_qw-stylish.sc_icons .sc_icons_item .sc_icons_item_description + .sc_icons_item_more_link {
margin-top: 1em;
}
.sc_icons_qw-stylish.color_style_link2 .sc_icons_item .sc_icons_item_shine:before {
background-image: conic-gradient(from 205deg at 50% 50%, rgba(0, 0, 0, 0) 0deg, var(--theme-color-text_link2) 25deg, var(--theme-color-text_link2_02) 295deg, rgba(0, 0, 0, 0) 360deg);
}
.sc_icons_qw-stylish.color_style_link2 .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile {
background-color: var(--theme-color-text_link2_007);
}
.sc_icons_qw-stylish.color_style_link3 .sc_icons_item .sc_icons_item_shine:before {
background-image: conic-gradient(from 205deg at 50% 50%, rgba(0, 0, 0, 0) 0deg, var(--theme-color-text_link3) 25deg, var(--theme-color-text_link3_02) 295deg, rgba(0, 0, 0, 0) 360deg);
}
.sc_icons_qw-stylish.color_style_link3 .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile {
background-color: var(--theme-color-text_link3_007);
}
.sc_icons_qw-stylish.color_style_dark .sc_icons_item .sc_icons_item_shine:before {
background-image: conic-gradient(from 205deg at 50% 50%, rgba(0, 0, 0, 0) 0deg, var(--theme-color-text_dark) 25deg, var(--theme-color-text_dark_02) 295deg, rgba(0, 0, 0, 0) 360deg);
}
.sc_icons_qw-stylish.color_style_dark .sc_icons_item .sc_icons_item_background .sc_icons_item_tiles .sc_icons_item_tile {
background-color: var(--theme-color-text_dark_005);
}
@keyframes tile {
0%, 12.5%, 100% {
opacity: 1;
}
25%, 82.5% {
opacity: 0;
}
}@media (max-width: 1439px) {
.sc_icons_qw-stylish .sc_icons_item {
padding: 5.2em 2em 4em;
}
.sc_icons_qw-stylish.sc_icons .sc_icons_icon + .sc_icons_item_details, .sc_icons_qw-stylish.sc_icons .sc_icons_image + .sc_icons_item_details {
margin-top: 2em;
}
}
@media (max-width: 767px) {
.sc_icons_qw-stylish .sc_icons_item {
padding: 4.5em 1.8em 3em;
}
.sc_icons_qw-stylish.sc_icons .sc_icons_icon + .sc_icons_item_details, .sc_icons_qw-stylish.sc_icons .sc_icons_image + .sc_icons_item_details {
margin-top: 1.5em;
}
}