@media (max-width: 1439px) { .sc_services_qw-panel .sc_services_item .sc_services_item_content_inner {
padding: 2em;
}
.sc_services_qw-panel .sc_services_item .sc_services_item_title {
font-size: 1.5em;
} .sc_services_qw-stylish .sc_services_item .sc_services_item_content_inner {
padding: 2em;
}
.sc_services_qw-stylish .sc_services_item .sc_services_item_content_inner_top + .sc_services_item_content_inner_bottom {
margin-top: 2em;
}
.sc_services_qw-stylish .sc_services_item .sc_services_item_title {
font-size: 1.4em;
}
.sc_services_qw-stylish .sc_services_item .sc_services_item_price {
font-size: 1.4em;
}
.sc_services_qw-stylish .sc_services_item .sc_services_item_more_link .link_icon:before {
font-size: 22px;
} .sc_services_qw-card .sc_services_item {
padding: 2em;
}
.sc_services_qw-card .sc_services_item .sc_services_item_title {
font-size: 1.4em;
} .sc_services_qw-tricolore .sc_services_item .sc_services_item_content_inner {
padding: 2.2em 2em;
}
.sc_services_qw-tricolore .sc_services_item .sc_services_item_content_inner_top + .sc_services_item_content_inner_bottom {
margin-top: 4em;
}
.sc_services_qw-tricolore .sc_services_item .sc_services_item_title {
font-size: 2em;
} .sc_services_qw-nodes {
--qw-var-services-nodes-item-large-indent: 7em;
--qw-var-services-nodes-item-medium-indent: 4em;
}
}
@media (max-width: 1279px) { .sc_services_qw-panel .sc_services_item .sc_services_item_content_inner {
padding: 25px;
}
.sc_services_qw-panel .sc_services_item:before {
padding-top: 110%;
}
.sc_services_qw-panel .sc_services_item .sc_services_item_number {
font-size: 1.4em;
}
.sc_services_qw-panel .sc_services_item .sc_services_item_text {
display: none !important;
} .sc_services_qw-price {
--qw-var-services-item-head-indent: 60px;
}
.sc_services_qw-price .sc_services_item_price,
.sc_services_qw-price .sc_services_item_title {
font-size: 1.2em;
}
.sc_services_qw-price .sc_services_item_price_dots {
margin: 0 10px;
line-height: 1.1em;
}
.sc_services_qw-price .sc_services_item_number {
font-size: 1.6em;
}
.sc_services_qw-price .sc_services_item_icon,
.sc_services_qw-price .sc_services_item_pictogram {
font-size: 1.8em;
} .sc_services_qw-stylish .sc_services_item .sc_services_item_content_inner {
padding: 1.8em;
}
.sc_services_qw-stylish .sc_services_item .sc_services_item_icon {
font-size: 2em;
}
.sc_services_qw-stylish .sc_services_item .sc_services_item_pictogram img {
height: 2em;
} .sc_services_qw-card .sc_services_item {
padding: 1.8em;
} .sc_services_qw-tricolore .sc_services_item .sc_services_item_content_inner {
padding: 1.8em;
}
.sc_services_qw-tricolore .sc_services_item .sc_services_item_content_inner_top + .sc_services_item_content_inner_bottom {
margin-top: 3.5em;
}
.sc_services_qw-tricolore .sc_services_item .sc_services_item_info_wrap {
margin-top: 1.6em;
padding-top: 1.5em;
}
.sc_services_qw-tricolore .sc_services_item .sc_services_item_title {
font-size: 1.8em;
}
.sc_services_qw-tricolore .sc_services_item .sc_services_item_number {
font-size: 1.8em;
}
.sc_services_qw-tricolore .sc_services_item .sc_services_item_icon {
font-size: 2.5em;
}
.sc_services_qw-tricolore .sc_services_item .sc_services_item_pictogram img {
height: 2.5em;
} .sc_services_qw-plaque .sc_services_item .sc_services_item_title {
font-size: 1.3em;
} .sc_services_qw-nodes {
--qw-var-services-nodes-item-large-indent: 5em;
--qw-var-services-nodes-item-medium-indent: 3.5em;
}
.sc_services_qw-nodes .sc_services_item.sc_services_item_featured_left .sc_services_item_info, .sc_services_qw-nodes .sc_services_item.sc_services_item_featured_right .sc_services_item_info {
padding: 0.5em 0 1.6em 0;
}
.sc_services_qw-nodes .sc_services_item .sc_services_item_title {
font-size: 1.4em;
}
.sc_services_qw-nodes .sc_services_item .sc_services_item_header + .sc_services_item_text,
.sc_services_qw-nodes .sc_services_item .sc_services_item_header + .sc_services_item_button {
margin-top: 0.8em;
}
}
@media (max-width: 1023px) {
.sc_services_qw-panel .sc_services_item .sc_services_item_title,
.sc_services_qw-panel .sc_services_item .sc_services_item_number {
font-size: 1.3em;
} .sc_services_qw-tricolore .sc_services_item .sc_services_item_content_inner {
padding: 1.2em;
}
.sc_services_qw-tricolore .sc_services_item .sc_services_item_info_wrap {
margin-top: 1.4em;
padding-top: 1.3em;
}
.sc_services_qw-tricolore .sc_services_item .sc_services_item_title {
font-size: 1.6em;
}
.sc_services_qw-tricolore .sc_services_item .sc_services_item_number {
font-size: 1.6em;
} .sc_services_qw-stylish .sc_services_item .sc_services_item_content_inner {
padding: 1.2em;
}
.sc_services_qw-stylish .sc_services_item:hover .sc_services_item_info_wrap + .sc_services_item_text {
margin-top: 0.5em;
}
}
@media (max-width: 767px) { .sc_services_qw-panel .sc_services_item .sc_services_item_content_inner {
padding: 20px;
}
.sc_services_qw-panel .sc_services_item:before {
padding-top: 95%;
}
.sc_services_qw-panel .sc_services_item .sc_services_item_number {
font-size: 1.2em;
}
.sc_services_qw-panel .sc_services_item .sc_services_item_number.duplicate {
font-size: 1.6em;
}
.sc_services_qw-panel .sc_services_item .sc_services_item_title {
font-size: 1.2em;
}
.sc_services_qw-panel .sc_services_item .sc_services_item_button {
margin-top: 0.6rem;
}
.sc_services_qw-panel .sc_services_item .sc_services_item_text {
font-size: 16px;
} .sc_services_qw-stylish .sc_services_item:before {
padding-top: 90%;
}
.sc_services_qw-stylish .sc_services_item .sc_services_item_text {
font-size: 16px;
} .sc_services_qw-price {
--qw-var-services-item-head-indent: 55px;
}
.sc_services_qw-price .sc_services_item.with_head .sc_services_item_head + .sc_services_item_info {
padding: 3px 0 0 12px;
}
.sc_services_qw-price .sc_services_item_price,
.sc_services_qw-price .sc_services_item_title {
font-size: 1.1em;
}
.sc_services_qw-price .sc_services_item_price_dots {
line-height: 0.95em;
}
.sc_services_qw-price .sc_services_item_title.with_price {
max-width: 55%;
} .sc_services_qw-nodes {
--qw-var-services-nodes-item-marker-size: 50px;
--qw-var-services-nodes-item-large-indent: 4em;
--qw-var-services-nodes-item-medium-indent: 3.3em;
}
.sc_services_qw-nodes .sc_services_item.sc_services_item_featured_left .sc_services_item_info, .sc_services_qw-nodes .sc_services_item.sc_services_item_featured_right .sc_services_item_info {
padding: 0.7em 0 1.2em 0;
}
.sc_services_qw-nodes .sc_services_item .sc_services_item_text {
font-size: 16px;
}
.sc_services_qw-nodes .sc_services_item .sc_services_item_text + .sc_services_item_button {
margin-top: 0.7em;
}
.sc_services_qw-nodes .sc_services_item.sc_services_item_featured_top .sc_services_item_info, .sc_services_qw-nodes .sc_services_item.sc_services_item_featured_bottom .sc_services_item_info {
padding: 0.5em 1.2em 1.2em 0;
} .sc_services_qw-card .sc_services_item {
padding: 1.5em;
}
.sc_services_qw-card .sc_services_item .sc_services_item_text {
font-size: 16px;
} .sc_services_qw-tricolore .sc_services_item .sc_services_item_text {
font-size: 16px;
}
.sc_services_qw-tricolore .sc_services_item:before {
padding-top: 80%;
} .sc_services_qw-plaque .sc_services_item .sc_services_item_text {
font-size: 16px;
}
}
@media (max-width: 479px) { .sc_services_qw-panel .sc_services_item:before {
padding-top: 70%;
} .sc_services_qw-nodes .sc_services_item.sc_services_item_featured_top .sc_services_item_info, .sc_services_qw-nodes .sc_services_item.sc_services_item_featured_bottom .sc_services_item_info {
padding: 0.5em 0 0.8em 0;
}
.sc_services_qw-nodes .sc_services_item.sc_services_item_featured_top .sc_services_item_timeline {
right: 0;
}
}@media (max-width: 1439px) {
.sc_icons_qw-stylish .sc_icons_item {
padding: 5.2em 2em 4em;
}
.sc_icons_qw-stylish.sc_icons .sc_icons_icon + .sc_icons_item_details, .sc_icons_qw-stylish.sc_icons .sc_icons_image + .sc_icons_item_details {
margin-top: 2em;
}
}
@media (max-width: 767px) {
.sc_icons_qw-stylish .sc_icons_item {
padding: 4.5em 1.8em 3em;
}
.sc_icons_qw-stylish.sc_icons .sc_icons_icon + .sc_icons_item_details, .sc_icons_qw-stylish.sc_icons .sc_icons_image + .sc_icons_item_details {
margin-top: 1.5em;
}
}@media (max-width: 1439px) { .sc_testimonials_qw-big .slider_container.slider_one .sc_testimonials_item {
padding: 0 10%;
}
}
@media (max-width: 1279px) { .sc_testimonials_qw-date .sc_testimonials_item {
padding: 30px 20px;
}
.sc_testimonials_qw-date .sc_testimonials_item_author .sc_testimonials_item_author_avatar {
width: 50px;
height: 50px;
}
.sc_testimonials_qw-date .sc_testimonials_item_author .sc_testimonials_item_author_data .sc_testimonials_item_author_title + .sc_testimonials_item_author_subtitle {
margin-top: 3px;
}
.sc_testimonials_qw-date .sc_testimonials_item_author + .sc_testimonials_item_content {
margin-top: 15px;
} .sc_testimonials_qw-big [class*="column"] .sc_testimonials_item_content {
font-size: 1.2em;
}
.sc_testimonials_qw-big [class*="column"] .sc_testimonials_item_content + .sc_testimonials_item_author {
margin: 1.2em 0 0 0;
}
.sc_testimonials_qw-big .slider_one .sc_testimonials_item_content,
.sc_testimonials_qw-big .sc_testimonials_item_content {
font-size: 2.7em;
line-height: 1.1em;
}
.sc_testimonials_qw-big .slider_one .sc_testimonials_item_content + .sc_testimonials_item_author,
.sc_testimonials_qw-big .sc_testimonials_item_content + .sc_testimonials_item_author {
margin-top: 1.5em;
}
.sc_testimonials_qw-big .slider_container.slider_controls_side .slider_controls_wrap > a:before,
.sc_testimonials_qw-big .slider_outer_controls_side .slider_controls_wrap > a:before,
.sc_testimonials_qw-big .slider_outer_controls_outside .slider_controls_wrap > a:before,
.sc_testimonials_qw-big .slider_outer_controls_top .slider_controls_wrap > a:before,
.sc_testimonials_qw-big .slider_outer_controls_bottom .slider_controls_wrap > a:before {
font-size: 20px;
}
}
@media (max-width: 1023px) { .sc_testimonials_qw-date .sc_testimonials_item_content .sc_testimonials_item_date,
.sc_testimonials_qw-date .sc_testimonials_item_author .sc_testimonials_item_author_data .sc_testimonials_item_author_subtitle {
font-size: 1rem;
} .sc_testimonials_qw-big .sc_testimonials_item_author .sc_testimonials_item_author_data .sc_testimonials_item_author_subtitle {
font-size: 1rem;
}
.sc_testimonials_qw-big .slider_one .sc_testimonials_item_content,
.sc_testimonials_qw-big .sc_testimonials_item_content {
font-size: 2.2em;
}
}
@media (max-width: 767px) { .sc_testimonials_qw-date .sc_testimonials_item {
padding: 25px 20px;
}
.sc_testimonials_qw-date .sc_testimonials_item_author .sc_testimonials_item_author_data .sc_testimonials_item_author_title {
font-size: 1rem;
} .sc_testimonials_qw-big .sc_testimonials_item_content,
.sc_testimonials_qw-big .slider_one .sc_testimonials_item_content {
font-size: 1.9em;
}
.sc_testimonials_qw-big .sc_testimonials_item_content + .sc_testimonials_item_author,
.sc_testimonials_qw-big .slider_one .sc_testimonials_item_content + .sc_testimonials_item_author {
margin-top: 1.2em;
}
.sc_testimonials_qw-big .sc_testimonials_item_author .sc_testimonials_item_author_data .sc_testimonials_item_author_title {
font-size: 1rem;
}
.sc_testimonials_qw-big .slider_container.slider_controls_side .slider_controls_wrap > a:before,
.sc_testimonials_qw-big .slider_outer_controls_side .slider_controls_wrap > a:before,
.sc_testimonials_qw-big .slider_outer_controls_outside .slider_controls_wrap > a:before,
.sc_testimonials_qw-big .slider_outer_controls_top .slider_controls_wrap > a:before,
.sc_testimonials_qw-big .slider_outer_controls_bottom .slider_controls_wrap > a:before {
font-size: 15px;
}
}
@media (max-width: 479px) { .sc_testimonials_qw-big [class*="column"] .sc_testimonials_item_content + .sc_testimonials_item_author {
margin: 1em 0 0 0;
}
.sc_testimonials_qw-big .sc_testimonials_item_content,
.sc_testimonials_qw-big .slider_one .sc_testimonials_item_content {
font-size: 1.5em;
line-height: 1.2em;
letter-spacing: 0;
}
.sc_testimonials_qw-big .sc_testimonials_item_content + .sc_testimonials_item_author,
.sc_testimonials_qw-big .slider_one .sc_testimonials_item_content + .sc_testimonials_item_author {
margin: 1em 0 0 0;
}
}