/*
Theme Name: Wizors Investments Child
Theme URI: http://wizors.ancorathemes.com/
Template: wizors-investments
Author: AncoraThemes
Author URI: http://ancorathemes.com/
Description: Wizors - Fully Responsive and Mobile Friendly theme
Tags: light,inheritable theme-options
Version: 1.0.1525290426
Updated: 2018-05-02 19:47:06

*/

